.square {
  position: relative;
}

.notation {
  --primary-offset: 5px;
  --secondary-offset: 3px;

  position: absolute;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;

  &.let-top-right {
    top: var(--secondary-offset);
    left: var(--primary-offset);
  }

  &.let-bottom-right {
    bottom: var(--secondary-offset);
    left: var(--primary-offset);
  }

  &.let-top-left {
    top: var(--secondary-offset);
    right: var(--primary-offset);
  }

  &.let-bottom-left {
    right: var(--primary-offset);
    bottom: var(--secondary-offset);
  }

  &.num-top-right {
    right: var(--secondary-offset);
    bottom: var(--primary-offset);
  }

  &.num-bottom-right {
    top: var(--primary-offset);
    right: var(--secondary-offset);
  }

  &.num-top-left {
    bottom: var(--primary-offset);
    left: var(--secondary-offset);
  }

  &.num-bottom-left {
    top: var(--primary-offset);
    left: var(--secondary-offset);
  }
}
